<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Monitoring</title>
    <link href="../src/output.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-5xl">IoT Monitoring</h1>
    <ul>
        <li><a href="/sensorcahaya.html">Sensor Cahaya</a></li>
        <li><a href="/logsensorcahaya.html">Log Sensor Cahaya</a></li>
        <li><a href="/sensorgerak.html"> sensor gerak</a></li>
        <li><a href="/logsensorgerak.html">Log Sensor Gerak</a></li>
        <li><a href="/histori.html">Histori log </a></li>
    </ul>
</body>
</html>
